
.blog_button{
    &_compartir {
        color           : #fff;
        background-color: #6c6e70;
        border-color    : #6c6e70;
        border-radius   : 22px;
        text-align      : center;
        padding         : 10px 17px;
        margin-right    : 1.5rem;
    }
    &_compartir:hover {
        background-color:$color_light_gray;
        border-color    :$color_light_gray;
    }
}



