.blog{
    margin-top: 5rem;
    &_titulo{
        font-family: $font_family-playfair;
        font-weight: $font-playfair-weight-regular;
    }
    &_button{
        padding-top: 50px;
    }
    & p {
        line-height: 2em;
    }
  @media (max-width:768px){
        &_button{
           text-align: center;
        }
    }  
}